body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
  background: #f4f4f4;
}

header h1 {
  color: #333;
}
button:hover {
  background: #333;
}


button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
